/*background fundo inicio*/


/*Background fundo fim*/

body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial;
    font-size: 20px;
}

a {
    text-decoration: none;
}

/*Fixar o menu*/
.fixo {
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    width: 100%;
    background-color: #000000;
    z-index:999;
    opacity: 75%;
}


/* Altura do menu */
body {
    padding-top: 147px;
    background: linear-gradient(-45deg, #bababd, #edede5, #83756b, #c7bbbc);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*Cor geral fundo do menu, tamanho e et..*/
header {
    display: flex;
    justify-content: center;
    height: 150px;
    margin-bottom: 3px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;

}
#logo {
    display: flex;
    position: relative;
    right: 95px;
    margin: auto;
}
#logo  img {
    width: 50px;
    height: 50px;

    border: 1px double white;
    border-radius: 50%;
}
.menu {
    display: flex;
    position: relative;
    right: 80px;
    align-items: center;
}
nav ul,
nav li {
    list-style: none;
    margin-right: -8px;

}
nav ul {
    display: flex;
}

nav li a {
    display: block;
    padding: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover {
    background-color: #39AAE1;
    color: white;
}
/*Estilização do subtitle*/
.grupo{
    display: flex;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,#120078,#9d0191,#fd3a69,#fbf6f0,#fecd1a);
    background-size: 150% 150%;
    animation: colors 15s ease infinite;
}
@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


#title {
    color: white;
    text-align: center;
    font-size: 95px;
    animation: pulse 5s infinite;
}
@keyframes pulse{
    0% {color: #3d87d5}
    25% {color: #7df0f0}
    50% {color: #fa48ed}
    100% {color: #e7872e}
}

/*Background com a imagem*/
.imagem img {
    width: 100%;
    height: 570px;

}
.text {
    display: flex;
    margin: auto;
    flex-direction: column;
    position: absolute;
    top: 85%;
    width:100%;
}
.text p {
    font-size: 50px;
    color: rgba(59, 169, 204, 0.44);
    text-align: center;
    line-height: 80px;
    font-weight: 970;
}
.text p:hover {
    color: red;
}

/*Textos nos background da imagem*/



/*Linha com as novidades*/
.row {
    width: 93%;
    margin: auto;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    color: #777777;
    background: #eeeeee;
}
.italico {
    height: 20px;
    color:
    font-family: "Titillium Web", sans-serif;
    font-size: 16.8px;
    line-height: 24px;


}
.negrito {
    letter-spacing: normal;

    color: #050505;

    font-family: "Titillium Web", sans-serif;
    font-size: 16.8px;
    line-height: 24px;
}

/*Deixando as imagens responsivas para aumentar no tamanho maximo
do container*/
img {
    max-width: 100%;
    height: 300px;
    transition: transform .2s;
    display: block;
}

/*Colocando cada item do lado do outro*/
.flex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1000px;
}




/*Falando com a div dentro do flex*/
.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}

.titulo-produtos {
    font-family: "Titillium Web", sans-serif;
    font-size: 13px;
    margin-top: 13px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    color: #595959;
}
.span-produtos span {
    display: flex;
    flex-wrap: wrap;
    font-family: "Titillium Web", sans-serif;
    font-size: 12px;
    justify-content: center;
    line-height: 13px;
    padding: 0;
    margin-bottom: 3px;

    color: #595959;
}

/*Rodapé*/
#footer {
    background-color: #eff0f1;
    text-align: center;
    padding: 50px 0;
    font-size: 15px;
    color: black;

}
.footer_area {
    position: relative;
    bottom: -40px;
    font-size: 13px;
}
/*Menu celular*/
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line {
    height: 2px;
    background-color: #39aae1;
}
/*Responsividade*/
@media (max-width:600px) {


    .container {
        flex-direction: column;
    }
    #logo {
        display: flex;
        position: relative;
        right: 50px;
    }

    #logo img {
        display: flex;
        width: 90px;
        height: 50px;
        border-radius: 0;
        border: 1px solid black;
    }
    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 180%;
        background-color: #ffffff;
    }
    nav ul li {
        background-color: white;
    }

    header {
        height: auto;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .menuMobile:hover {
        background-color: rgba(#25faff, 0.41);
        color: #000000;
    }

    .grupo {
        margin-top: -20px;
        height: 30vh;
        width: 100%;
        background-color: white;
    }
    #title {
        font-size: 55px;
    }

    .imagem {
        max-height: 100%;
    }

    .text p {
        position: relative;
        top: -100px;
        margin-top:25px;
        font-size: 30px;
        line-height: 25px;
        padding: 8px;
    }

    .flex {
        display: flex;
        text-align: center;
        margin: auto;
        max-width: 100%;
    }

    .flex img {
        width: 100%;
        z-index: 999;
    }
    .titulo-produtos {
        font-size: 14px;
    }
    .span-produtos {
        font-size: 12px;
    }

    .footer_area {
        display: block;
        position: relative;
        bottom: -50px;
        font-size: 9px;
    }
}
