/**
 * @Author: wh1t3
 * @Date:   2021-01-29T22:24:11-02:00
 * @Last modified by:   wh1t3
 * @Last modified time: 2021-02-01T18:55:42-02:00
 */

/*background fundo inicio*/

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial;
    font-size: 20px;
}
#menu {
    display: flex;
    flex-wrap: wrap;
    background-color: #EDEDED;
}

#menu ul {
    margin:auto;
    background-color:#EDEDED;
    list-style:none;
}

#menu ul li {
    margin-left: 20px;
    display: inline;


}
#menu ul li a {
    padding: 20px 15px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

.nome {
    padding: 10px;
    width: 100%;
    height: 20px;
    text-align: center;
    color: #B6D7D7;
}
.geral {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
    background-color: #6A6161;
}

#um {
    width: 400px;
    height: 300px;
}
.rodape {
    width: 100%;
    height: 100px;
    background-color: black;
}
#texto {
    margin:auto;
    color: white;
    padding-top: 10px;
    text-align: center;

}

#footer {
    width: 100%;
    background-color: #eff0f1;
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
    color: black;

}
.footer_area {
    font-size: 18px;
}
